.form-comanda {
  background-color: #fff0f6;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  max-width: 500px;
  margin: 30px auto;
  box-shadow: 0 0 10px pink;
}
input, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid pink;
  border-radius: 8px;
}
button {
  background-color: hotpink;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
